language: go

go:
  - 1.9

before_script: go get -t ./...

script: go build -v

after_success:
  - "curl -H \"Content-Type: application/json\" -X POST -d '{\"token\":\"'\"$DEPLOY_TOKEN\"'\"}' http://jaggernaut.ca:9000/hooks/deploy-respecbot-webhook"

stages:
  - test

notifications:
  email:
    on_success: never
    on_failure: always
    on_error: always
